[project]
	description = Import from aosp https://android.googlesource.com/platform/tools/base
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Andrew Chen (yongjhih)
[access "refs/for/refs/*"]
	read = group user/Andrew Chen (yongjhih)
	push = group user/Andrew Chen (yongjhih)
	label-Code-Review = -2..+2 group user/Andrew Chen (yongjhih)
	label-Verified = -1..+1 group user/Andrew Chen (yongjhih)
	rebase = group user/Andrew Chen (yongjhih)
	removeReviewer = group user/Andrew Chen (yongjhih)
	submit = group user/Andrew Chen (yongjhih)
[access "refs/heads/*"]
	read = group user/Andrew Chen (yongjhih)
	create = group user/Andrew Chen (yongjhih)
	push = +force group user/Andrew Chen (yongjhih)
	pushMerge = group user/Andrew Chen (yongjhih)
[access "refs/tags/*"]
	push = +force group user/Andrew Chen (yongjhih)
	pushTag = group user/Andrew Chen (yongjhih)
	pushSignedTag = group user/Andrew Chen (yongjhih)
